# application name
APPLICATION_NAME=application_name


# Database
DATABASE_URL="postgresql://postgres:admin@localhost:5433/graphql_api?schema=public"

# Server
PORT=4000
NODE_ENV=development

# misc
DEFAULT_USER_PASSWORD=password123

# novu
NOVU_API_HOST_NAME=https://api.novu.co
NOVU_API_WEB_SOCKET_HOST_NAME=wss://socket.novu.co
NOVU_API_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxx

# redis
REDIS_URL=redis://localhost:6379

# weather api
WEATHER_API_BASE_URL="https://api.open-meteo.com/v1/forecast";